# Beispielwerte für den Unterricht. Die echte .env steht in .gitignore.
RABBITMQ_USER=chat
RABBITMQ_PASSWORD=bitte-lokal-aendern
RABBITMQ_HOST=rabbitmq

POSTGRES_USER=chat
POSTGRES_PASSWORD=bitte-lokal-aendern
POSTGRES_DB=chat
POSTGRES_HOST=postgres

BATCH_SIZE=100
BATCH_TIMEOUT_MS=200
RETRY_DELAY_MS=1000
